<!DOCTYPE html>
<html>

<head>

    <title>Healthcare Chatbot</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>🏥 Healthcare Assistant</h1>

    <div id="chat-box"></div>

    <div class="input-area">

        <input
            id="question"
            placeholder="Ask your healthcare question..."
        >

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>

</html>